
                <div *ngIf="loading" class="spinner-div">
                        <span class="spinner spinner-large spinner-blue spinner-slow"></span>
                </div>
        <div class="cards">
            <div class="card">
                <h5>Daily Chart</h5>
                <daily-chart></daily-chart>
            </div>
            <div class="card">
            <h5>Weekly Chart</h5>
            <weekly-chart></weekly-chart>
            </div>
            
            <div class="card">
                <h5>Monthly Chart</h5>
                <monthly-chart></monthly-chart>
            </div>
        </div>


        


           
 
