.chart-container{
    display:flex;
    overflow:hidden;
}

canvas{
    height:500px;
}
.spinner-div{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:20px;
}
.margin-l{
    margin-left:10px;
}